#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-title {
  h1 {
    font-weight: 500;
  }
}

ion-input {
  border: solid 1px #e5e5e5;
  margin-top: 1rem;
}

ion-list {
  border: solid 5px red;
  ion-text {
    color: blue;
  }
}
